@import vars
@import fonts
@import libs

::placeholder
	color: #000

::selection
	background-color: $accent
	color: #000

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

textarea:focus
	&::-webkit-input-placeholder
		color: transparent!important
	&::-moz-placeholder
		color: transparent!important
	&::-ms-input-placeholder
		color: transparent!important
input:focus
	&::-webkit-input-placeholder
		color: transparent!important
	&::-moz-placeholder
		color: transparent!important
	&::-ms-input-placeholder
		color: transparent!important

html
	-ms-overflow-style: none
	scrollbar-width: none
	&::-webkit-scrollbar
		width: 0
	&::-webkit-scrollbar
		width: 0


html
	overflow: scroll
	overflow-x: hidden
::-webkit-scrollbar
	width: 0px

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $font
	overflow-x: hidden
	color: #000
	font-weight: 400

h1, .h1
	margin-left: 26px
	line-height: 40px
	margin-top: 15px
	+media-breakpoint-down(sm)
		font-size: 35px!important
		margin-left: 0


// Custom Sass / Remove before use

.container
	max-width: 1396px
	padding:
		right: $gutter/2
		left: $gutter/2
	margin:
		left: auto
		right: auto
	+media-breakpoint-down(xs)
		padding-left: 8px
		padding-right: 8px

.img-responsive
	display: block
	max-width: 100%
	height: auto

.grid
	display: grid
	grid-gap: $gutter
	grid-template-columns: 1fr 1fr
	grid-template-areas: "left right"
	+media-breakpoint-down(xs)
		display: block
		> div
			padding: $gutter/2 0
	
.example-img
	width: 100%

h1, .h1
	font-weight: 700
	font-size: 45px
	text-transform: uppercase

.h2--main
	font-size: 32px
	line-height: 40px
	background: #000
	color: #fff
	text-transform: uppercase
	padding: 0 40px 0 70px
	display: inline-block
	position: relative
	letter-spacing: 2px
	+media-breakpoint-down(sm)
		display: block
		text-align: center
		font-size: 25px
		padding: 0
	&:before
		content: ''
		width: 1000px
		height: 100%
		position: absolute
		top: 0
		left: -1000px
		background: #000
		z-index: -1
		+media-breakpoint-down(lg)
			display: none

.btn
	background-color: $accent
	letter-spacing: 2px
	border: 5px solid #fff
	display: inline-block
	font-size: 20px
	text-transform: uppercase
	text-decoration: none
	color: #fff
	font-weight: 700
	height: 70px
	width: 300px
	display: flex
	align-items: center
	justify-content: center
	transition: all .3s ease
	&:hover
		color: $accent
		text-decoration: none
		border-color: $accent
		background: #fff




// HEADER
.header
	&__info
		background: $accent
		text-transform: uppercase
		color: #fff
		font-size: 12px
		line-height: 25px
		svg
			width: 25px
			height: 25px
			fill: #fff
			margin-right: 20px
	&__inner
		display: flex
		align-items: center
		height: 55px
		+media-breakpoint-down(lg)
			justify-content: space-between
			align-items: center
			height: 60px
	&__clock
		display: flex
		width: 25%
		align-items: center
		+media-breakpoint-down(lg)
			display: none
	&__location
		display: flex
		justify-content: flex-end
		width: 25%
		+media-breakpoint-down(lg)
			display: none
	&__phone
		display: flex
		justify-content: flex-end
		width: 25%
		a
			color: #fff
		+media-breakpoint-down(lg)
			width: auto
		+media-breakpoint-down(sm)
			svg
				margin-right: 0
				width: 35px
				height: 35px
	&__logo-mini
		display: none
		img
			width: 115px
		+media-breakpoint-down(lg)
			display: block
	&__phone-text
		+media-breakpoint-down(sm)
			display: none
	&__mail
		display: flex
		width: 25%
		justify-content: flex-end
		+media-breakpoint-down(lg)
			display: none
		a
			color: #fff
	&__nav-inner
		display: flex
		justify-content: space-between
		align-items: center
		min-height: 100px
		+media-breakpoint-down(lg)
			min-height: auto
			.logo
				display: none!important

.menu
	position: relative
	+media-breakpoint-down(lg)
		display: none
		position: absolute
		top: 60px
		left: 0
		width: 320px
		background: $accent
		z-index: 1000
		padding-top: 14px
		.menu__link--has_sub
			position: relative
			&:after
				content: '\f107'
				font-family: "FontAwesome"
				position: absolute
				top: 0
				left: -15px
		&__submenu
			padding-left: 20px
			margin-bottom: 20px
			position: relative
		&__sub-link
			color: #fff
			text-transform: uppercase
			&:hover
				color: #000
		&__list
			flex-direction: column
			align-items: flex-start!important
			padding-left: 0
			padding-bottom: 40px
		&__item
			&:after
				display: none
	.active
		display: block
		.menu__link--has_sub
			&:after
				content: '\f106'
		.menu__submenu
			display: block
		.menu__sub-item
			display: block


	&--active
		display: block
	&__list
		list-style-type: none
		display: flex
		align-items: flex-end
		margin-bottom: 0
	&__item
		padding-right: 18px
		padding-left: 18px
		position: relative
		&:hover
			>.menu__sub-item--mega, .menu__sub-item--mega
				display: block

		&--home
			+media-breakpoint-down(lg)
				position: relative
				top: -2px
				left: 0
				svg
					display: none
			span
				display: none
				+media-breakpoint-down(lg)
					display: block
		&:nth-child(2)
			&:after
				top: 12px
		&:after
			content: ''
			position: absolute
			height: 12px
			width: 1px
			background-color: #000
			right: 0
			top: 1px
		&:last-child
			&:after
				display: none
		&--close
			display: none
			position: absolute
			top: -44px
			left: 0
			color: #fff
			.fa
				font-size: 30px
				cursor: pointer
			+media-breakpoint-down(lg)
				display: block
		&--home
			svg
				width: 25px
				height: 25px
	&__sub-item
		display: none	
	&__sub-item--mega
		display: none
		position: absolute
		width: 940px
		top: 16px
		right: -547px
		z-index: 1000
		background: rgba(0, 0, 0, .8)
		padding: 30px
		border-top: 30px solid #fff
		&:before
			content: ''
			position: absolute
			top: -24px
			left: 340px
			border: 8px solid transparent
			border-bottom: 16px solid rgba(0, 0, 0, .8)
		+media-breakpoint-down(lg)
			display: none!important
	&__link
		line-height: 15px
		display: block
		font-weight: 700
		color: #000
		text-transform: uppercase
		+media-breakpoint-down(lg)
			font-size: 16px
			margin-bottom: 15px
			color: #fff
		&:hover
			color: #000
	&__mega-list
		list-style-type: none
		padding: 0
		margin: 0 48px 0 0
		&:last-child
			margin-right: 0
		li
			position: relative
			line-height: 35px
			&:last-child
				&:after
					display: none
			&:after
				content: ''
				position: absolute
				left: 0
				bottom: 0
				height: 2px
				width: 100%
				background: #fff
			a
				color: #fff
				transition: all .3s ease
				&:hover
					color: $accent
					text-decoration: none
	&__mega-wrap
		display: flex
		justify-content: space-between
	&__mega-title
		text-align: center
		margin-bottom: 50px
		position: relative
		width: 388px
		&:after
			content: ''
			position: absolute
			bottom: -18px
			left: 50%
			margin-left: -30px
			width: 60px
			height: 4px
			background: #fff
		a
			text-transform: uppercase
			color: #fff
			transition: all .3s ease
			&:hover
				color: $accent
				text-decoration: none
	&__mega-list-wrap
		display: flex

.gumburger
	display: none
	cursor: pointer
	.fa
		color: #fff
		font-size: 30px
	+media-breakpoint-down(lg)
		display: block
		font-size: 12px
		position: relative
		&:after
			content: ''



// PROMO
.main
	position: relative
	&__right-text, &__left-text
		position: absolute
		width: 100%
		top: 544px
		right: 0
		text-transform: uppercase
		font-size: 250px
		line-height: 170px
		letter-spacing: 46px
		white-space: nowrap
		font-weight: 700
		color: $accent
		opacity: .15
		transform: rotate(90deg)
		background: none
		color: $accent
		z-index: -1
		overflow-x: hidden
		+media-breakpoint-down(lg)
			display: none
	&__left-text
		display: flex
		margin-top: auto
		bottom: -200px
		align-items: flex-end
		+media-breakpoint-down(lg)
			display: none
.promo
	background: url(../img/@2x/homepage/home-promo-bg.jpg) no-repeat
	background-size: cover
	min-height: 550px
	display: flex
	justify-content: flex-end
	flex-direction: column
	+media-breakpoint-down(lg)
		min-height: auto
		margin-bottom: 5px
	&__title
		background-color: rgba(255, 255, 255, .85)
		max-width: 70%
		margin-top: 30px
		padding: 20px 30px 20px 30px
		text-align: right
		+media-breakpoint-down(lg)
			margin-top: 70px
			max-width: 100%
		+media-breakpoint-down(sm)
			padding: 15px 9px 15px 9px
	&__h1
		font-size: 32px
		line-height: 40px
		max-width: 580px
		margin-left: auto
		+media-breakpoint-down(sm)
			font-size: 20px!important
			line-height: 25px!important
	&__btn
		margin: 40px auto 100px
		+media-breakpoint-down(sm)
			margin: 40px auto 48px

// EDGE
.edge
	margin-bottom: 50px
	position: relative
	+media-breakpoint-down(sm)
		margin-bottom: 30px
	.container
		+media-breakpoint-down(sm)
			padding-right: 5px
			padding-left: 5px
	&__grid
		display: flex
		flex-wrap: wrap
		justify-content: center
	&__item
		width: 215px
		margin-right: 30px
		background: rgba(0, 175, 160, .8)
		padding: 30px 20px 120px 10px
		height: 260px
		border: 5px solid #fff
		margin-top: -40px
		margin-bottom: 30px
		font-size: 15px
		text-transform: uppercase
		color: #fff
		text-align: center
		&:last-child
			margin-right: 0
			+media-breakpoint-down(xs)
				p
					span
						font-size: 12px
		+media-breakpoint-down(lg)
			margin-top: 0
		+media-breakpoint-down(xs)
			width: 50%
			margin-right: 0
			margin-bottom: 0
			height: auto
			padding: 30px 10px 15px 10px
			p
				line-height: 20px
				margin-bottom: 0
		p
			margin-top: 30px
		svg
			fill: #fff
			width: 105px
			height: 105px
			+media-breakpoint-down(xs)
				width: 80px
				height: 80px

// MAIN-SERVICE
.cont-fix
	+media-breakpoint-down(lg)
		padding-left: 0
		padding-right: 0
.main-services
	margin-top: 60px
	margin-bottom: 50px
	+media-breakpoint-down(sm)
		margin-top: 30px
		margin-bottom: 20px
	&__item
		margin-top: 60px
		+media-breakpoint-down(sm)
			margin-top: 20px
.service
	&__item
		display: flex
		+media-breakpoint-down(lg)
			flex-direction: column!important
			align-items: center!important
		&:nth-child(2n)
			flex-direction: row-reverse
			.service__img
				padding-left: 0
				padding-right: 70px
	&__img
		padding-left: 70px
		+media-breakpoint-down(lg)
			padding-left: 0
			padding-right: 0!important
			img
				width: 100%
				max-width: 620px
				+media-breakpoint-down(sm)
					height: 214px

	&__info
		width: 100%
		max-width: 640px
	&__title
		font-weight: 700
		font-size: 25px
		text-transform: uppercase
		padding: 30px 0 25px 50px
		+media-breakpoint-down(sm)
			padding: 15px 0
			text-align: center
	&__grid
		display: grid
		grid-template-columns: 1fr 1fr
		grid-template-areas: "left right"
		+media-breakpoint-down(sm)
			display: block
	&__table
		font-size: 14px
	&__cell
		padding-left: 50px
		line-height: 30px
		margin-bottom: 3px
		letter-spacing: 1px
		&:nth-child(4n+1), &:nth-child(4n+2),
			background: $accent
			color: #fff
		&:nth-child(2n)
			padding-left: 90px
		+media-breakpoint-down(sm)
			padding: 0!important
			text-align: center
			background: none!important
			color: #000!important
			font-size: 16px
			&:nth-child(odd)
				background: $accent!important
				color: #fff!important

// CLIENT
.clients
	.container
		+media-breakpoint-down(sm)
			padding-left: 0
			padding-right: 0
	&__bg
		background: url('../img/@2x/homepage/home-client-bg.jpg') no-repeat
		min-height: 582px
		background-size: cover
		+media-breakpoint-down(sm)
		min-height: auto
	&__info
		position: relative
		padding-top: 80px
		+media-breakpoint-down(sm)
			padding-top: 30px
			padding-bottom: 30px

	&__h2
		margin-bottom: 40px
		+media-breakpoint-down(sm)
			margin-bottom: 20px

.clients-inner
	background: rgba(255, 255, 255, .5)
	max-width: 780px
	margin-left: auto
	border-left: 15px solid $accent
	position: relative
	padding: 45px 0 45px 45px
	+media-breakpoint-down(sm)
		max-width: 80%
		padding: 10px 0 1px
		border-left: 4px solid $accent
	&:after
		content: ''
		height: 100%
		width: 1000px
		background: rgba(255, 255, 255, .5)
		position: absolute
		top: 0
		right: -1000px
		+media-breakpoint-down(lg)
			display: none
	&__list
		list-style-type: none
		+media-breakpoint-down(xs)
			padding-left: 10px
	&__item
		font-size: 20px
		font-weight: 700
		background-color: #fff
		line-height: 40px
		margin-bottom: 15px
		padding-left: 80px
		position: relative
		+media-breakpoint-down(sm)
			font-size: 16px
			line-height: 20px
			padding-left: 35px
			margin-bottom: 5px
		&:before
			content: ''
			position: absolute
			left: 20px
			top: 11px
			width: 15px
			height: 15px
			background: $accent
			+media-breakpoint-down(sm)
				width: 6px
				height: 6px
				top: 7px
				left: 9px
		&:after
			content: ''
			position: absolute
			top: 0
			left: 674px
			height: 100%
			width: 10000px
			background:	#fff
			+media-breakpoint-down(lg)
				display: none

.clients-slider
	margin: 70px 0
	+media-breakpoint-down(sm)
		margin: 20px 0
	&__slide
		text-align: center
		img
			margin: 0 auto
			+media-breakpoint-down(sm)
				width: 150px
				height: 50px
// CASES
.cases
	.h2
		margin-bottom: 40px
		+media-breakpoint-down(sm)
			margin-bottom: 20px
.cases-slider
	&__slide
		height: 350px
		width: 350px
		position: relative
		img
			bject-fit: cover
			height: 100%
			width: 100%
			border-right: 3px solid #fff
			border-left: 3px solid #fff

// STEP
.sect-steps
	&__h2
		margin-bottom: 40px
		margin-top: 40px
		+media-breakpoint-down(sm)
			margin-top: 20px
			margin-bottom: 20px
.steps
	display: flex
	+media-breakpoint-down(md)
		justify-content: center
		flex-wrap: wrap
	&__item
		width: 200px
		height: 200px
		margin-right: 30px
		background: $accent
		color: #fff
		font-weight: 700
		font-size: 14px
		text-transform: uppercase
		text-align: center
		display: flex
		flex-direction: column
		justify-content: space-between
		padding: 20px 0
		position: relative
		&:after
			content: ''
			position: absolute
			border: 15px solid transparent
			border-left: 27px solid $accent 
			top: 81px
			right: -38px
			width: 25px
			height: 25px
			+media-breakpoint-down(md)
				width: 15px
				height: 15px
				border: 10px solid
				border-left: 15px solid $accent
				top: 91px
				right: -24px
			+media-breakpoint-down(sm)
				top: 54px
				right: -24px
		&:last-child
			margin-right: 0
			+media-breakpoint-down(md)
				margin-right: 18px
			&:after
				display: none
		+media-breakpoint-down(md)
			width: 45%
			margin-right: 18px
			margin-bottom: 18px
		+media-breakpoint-down(sm)
			width: 130px
			height: 130px
	&__img
		svg
			width: 80px
			height: 110px
			fill: #fff
			+media-breakpoint-down(sm)
				width: 50px
				height: 70px
	&__text

// SECT-COMMENTS
.sect-comments
	&__h2
		margin-bottom: 40px
		margin-top: 40px
		+media-breakpoint-down(sm)
			margin-bottom: 20px
			margin-top: 20px
.comments
	background: url('../img/@2x/homepage/home-comment-bg.jpg') no-repeat
	background-size: cover
	.comment
		font-weight: 700
		height: 430px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		+media-breakpoint-down(sm)
			height: auto
			padding: 20px 0 10px
		&__img
			margin-bottom: 50px
			position: relative
			+media-breakpoint-down(sm)
				margin-bottom: 5px
			&:after
				content: ',,'
				position: absolute
				width: 60px
				height: 60px
				font-size: 60px
				transform: scale(-1, -1)
				bottom: -101px
				left: 20px
				color: #fff
				+media-breakpoint-down(sm)
					display: none
			img
				width: 130px
				height: 130px
				border-radius: 10em
				+media-breakpoint-down(sm)
					width: 66px
					height: 66px
		&__text
			font-size: 14px
			max-width: 593px
			text-align: center
			letter-spacing: 1px
		&__wrap
			text-align: center
			+media-breakpoint-down(sm)
				background: rgba(255, 255, 255, .5)
				padding: 10px 10px 40px 10px
				display: flex
				flex-direction: column-reverse
				margin-left: 10px
				margin-right: 10px
		&__name
			font-size: 16px
			margin-top: 20px
			+media-breakpoint-down(sm)
				margin-top: 0
				margin-bottom: 10px

// FORM
.sect-form
	margin-top: 60px
	+media-breakpoint-down(sm)
		margin-top: 30px
	&__title
		background: $accent
		margin-bottom: 70px
		+media-breakpoint-down(sm)
			margin-bottom: 20px
		.h2
			font-size: 32px
			line-height: 50px
			text-transform: uppercase
			color: #fff
			text-align: center
			+media-breakpoint-down(sm)
				font-size: 25px

.form
	position: relative
	display: flex
	justify-content: space-between
	margin: 0 auto
	max-width: 1060px
	width: 100%
	height: 660px
	padding: 40px 50px 50px 60px
	color: #fff
	background: url('../img/@2x/homepage/form-bg.jpg') no-repeat
	background-size: cover
	+media-breakpoint-down(sm)
		height: auto
		padding: 20px 25px 18px 25px
	&__hidden-phone
		font-size: 20px
		font-weight: 700
		line-height: 22px
		display: none
		text-align: center
		p
			margin-bottom: 5px
		span
			font-size: 12px
			line-height: 20px
			max-width: 250px
			display: block
			text-align: center
			margin: 0 auto
			margin-top: 20px
		+media-breakpoint-down(sm)
			display: block
	&__btn
		max-width: 100%
		width: 100%
		height: 105px
		+media-breakpoint-down(sm)
			height: 60px
			margin-bottom: 30px
	&__left
		width: 50%
		font-weight: 700
		+media-breakpoint-down(sm)
			display: none
		p
			font-size: 32px
			line-height: 32px
			margin-bottom: 0
		span
			font-size: 10px
			line-height: 10px
			max-width: 300px
			display: block
			margin-top: 15px
	&__phone
		margin-top: 10px
	&__left-item
		margin-bottom: 40px
		&:nth-child(3)
			margin-top: 75px
			margin-bottom: 65px
	&__right
		max-width: 400px
	.form__p
		text-align: center
		font-size: 11px
		max-width: 300px
		margin: 0 auto
		line-height: 14px
	input, textarea
		border: 2px solid #e2e2e2	
		width: 100%
		padding: 9px 9px 9px 25px
		color: #000
		margin-bottom: 50px
		font-size: 18px
		font-weight: 700
		+media-breakpoint-down(sm)
			font-size: 16px
			margin-bottom: 22px
		&::-webkit-input-placeholder
			color: #000
			opacity: 1
		&::-moz-placeholder
			color: #000
			opacity: 1
		&::-ms-input-placeholder
			color: #000
	textarea
		margin-bottom: 20px
		+media-breakpoint-down(sm)
			margin-bottom: 0

.wrap-inpute
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	&__item
		width: 100%
		label
			display: block
			font-size: 13px
		input
			width: 100%

.input-cheked
	cursor: pointer
	padding-left: 40px
	max-width: 380px
	position: relative
	font-size: 14px
	font-weight: 700
	letter-spacing: 2px
	margin: 10px	0	30px
	position: relative
	+media-breakpoint-down(sm)
		padding-left: 0
		letter-spacing: 0
		margin-bottom: 10px
	&:after
		content: ''
		position: absolute
		top: 6px
		right: 29px
		background: #fff
		width: 40px
		height: 40px
		+media-breakpoint-down(sm)
			width: 25px
			height: 25px
			top: 10px
			right: 4px
	&__text
		line-height: 25px
	label
		line-height: 16px
		padding-right: 100px
		z-index: 100000
		position: relative
		cursor: pointer
		+media-breakpoint-down(sm)
			padding-right: 30px
	input
		display: none
	input[type=checkbox]:checked + label:before
		content: "\f00c"
		font-family: "FontAwesome"
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
		font-size: 24px
		color: $accent
		text-align: center
		line-height: 15px
		position: absolute
		top: 18px
		right: 35px
		z-index: 1000
		+media-breakpoint-down(sm)
			font-size: 18px
			top: 16px
			right: 7px

// MAP
.sect-map
	margin-top: 50px
	position: relative
	+media-breakpoint-down(sm)
		margin-top: 0
	&__inner
		position: absolute
		width: 100%
		top: 0
		left: 0
	&__img
		+media-breakpoint-down(lg)
			img
				width: 100%
		+media-breakpoint-down(xs)
			img
				height: 270px
.map-info
	max-width: 500px
	height: 460px
	background: #fff
	padding: 35px
	margin-top: 90px
	margin-left: auto
	+media-breakpoint-down(lg)
		display: none
	&__title
		font-weight: 700
		font-size: 18px
		text-transform: uppercase
		margin-top: 20px
		margin-bottom: 30px
	&__img
		img
			width: 100%
			height: 170px
	&__item
		margin-bottom: 10px
		svg
			width: 20px
			height: 25px
			margin-right: 5px

// FOOTER
.footer
	padding-top: 35px
	height: 270px
	background-color: $accent
	+media-breakpoint-down(md)
		height: auto
		padding-bottom: 10px
	&__inner
		display: flex
		justify-content: space-between
		align-items: center
		+media-breakpoint-down(md)
			flex-direction: column
	&__logo
		+media-breakpoint-down(md)
			order: 1
			img
				width: 150px
	&__copy
		font-size: 14px
		letter-spacing: 1px
		color: #fff
		text-transform: uppercase
		+media-breakpoint-down(md)
			order: 3
			p
				margin-bottom: 0
				font-size: 10px
		span
			color: #000
			font-weight: 700
	&__social
		+media-breakpoint-down(md)
			order: 2
			margin: 20px 0
		svg
			width: 55px
			height: 55px
			margin-right: 40px
			transition: all .3s ease
			+media-breakpoint-down(md)
				width: 30px
				height: 30px
				margin-right: 20px
			path
				transition: all .3s ease
			&:hover
				path
					fill: #000
			// path
			// 	fill: red
	&__links
		text-align: center
		margin-top: 30px
		+media-breakpoint-down(md)
			margin: 0
			font-size: 10px
		a
			color: #000
		
		
// ABOUT PAG
.breadcrumb
	display: flex
	list-style-type: none
	padding-left: 30px
	+media-breakpoint-down(sm)
	padding-left: 0
	li
		position: relative
		&:last-child
			&:after
				display: none
		&:after
			content: '/'
			margin: 0 5px
	a
		color: #000

.about-promo
	&__inner
		display: flex
		justify-content: space-between
		+media-breakpoint-down(lg)
			flex-direction: column
			align-items: center
	&__info
		max-width: 630px
		padding-top: 40px
		+media-breakpoint-down(sm)
			padding-top: 5px
		p
			margin-bottom: 0
			text-align: justify
			line-height: 20px
		ul
			list-style-type: none
			text-indent: 30px
			padding-left: 0
			margin: 30px 0
	&__img
		img
			width: 100%
			+media-breakpoint-down(lg)
				width: 200px

.a-advan
	background: #000
	position: relative
	.container
		margin-right: 0
		padding-right: 0
	&__inner
		display: flex
	&__item
		z-index: 1
		+media-breakpoint-down(lg)
			width: 50%
			text-align: center
			display: flex
			flex-direction: column
			align-items: center
	&__numbers
		background: #000
		padding: 50px 50px 50px 27px
		+media-breakpoint-down(lg)
			background: url('../img/@2x/about/about_bg.jpg') no-repeat
			background-size: cover
			display: flex
			flex-wrap: wrap
			position: relative
			width: 100%
			&:after
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				background: rgba(0, 0, 0, .8)
		+media-breakpoint-down(sm)
			padding: 17px 0 0
	&__square 
		color: #fff
		font-size: 100px
		font-weight: 700
		height: 286px
		width: 286px
		border: 10px solid $accent
		display: flex
		align-items: center
		justify-content: center
		+media-breakpoint-down(sm)
			width: 70px
			height: 70px
			font-size: 35px
			border: 3px solid $accent
	&__text
		color: $accent
		font-size: 18px
		text-align: center
		max-width: 188px
		margin: 40px auto 53px auto
		+media-breakpoint-down(sm)
			font-size: 14px
			max-width: 150px
			margin: 2px auto 21px auto
		&--more
			margin-bottom: 30px
			+media-breakpoint-down(sm)
				margin-bottom: 7px
	&__img
		+media-breakpoint-down(lg)
			display: none
		img
			object-fit: cover
	    height: 100%
	    width: 100%
			max-height: 1940px
	&__item:last-child
		.a-advan__text:last-child
			margin-bottom: 0
	&__float
		+media-breakpoint-down(lg)
			display: none

.a-slider
	min-height: 750px
	margin: 60px 0
	position: relative
	+media-breakpoint-down(sm)
		min-height: auto
		margin: 30px 0
	&:after
		content: ''
		background: url('../img/@2x/about/about_bg_comment.jpg') no-repeat
		background-size: cover
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		z-index: -1
	.container
		position: relative
		min-height: 750px
		+media-breakpoint-down(sm)
			min-height: auto
	&__inner
		max-width: 900px
		margin: 0 auto
		padding: 120px 0 0 0
		+media-breakpoint-down(sm)
			padding: 35px 0 0 0
	&__quote
		font-size: 60px
		line-height: 60px
		font-weight: 700
		transform: scale(-1, -1)
		text-align: right
		+media-breakpoint-down(sm)
			font-size: 26px
	&__text
		+media-breakpoint-down(sm)
			max-height: 114px
			overflow: hidden
			text-align: justify
		p
			margin-bottom: 0
			letter-spacing: 1.2px
			font-size: 15px
			+media-breakpoint-down(sm)
				font-size: 12px
				letter-spacing: 0
	&__sign
		font-size: 45px
		font-family: "NicolettaScript", sans-serif
		position: absolute
		bottom: 100px
		right: 100px
		+media-breakpoint-down(sm)
			font-size: 30px
			position: relative
			margin-top: 40px
			bottom: 0
			right: 0
			text-align: right
